* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.wrapper {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    background: darkgrey;
    border-radius: 10px;
}

span.logotype {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

div.display {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    overflow: hidden;
    border-radius: 3px;
    background: white;
    text-align: right;
}

ul.keyboard {
    display: flex;
    flex-wrap: wrap;
}

li.bottom {
    list-style-type: none;
    width: calc(25% - 4px);
    display: block;
    margin: 2px;
    padding: 10px;
    background: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}

ul.keyboard li:nth-child(2) {
    background-image: url("../img/delete-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}